# ==============================================================
# Common Environment Variables:
# ==============================================================
# HF_TOKEN=""

# пути относительно compose файлов, вложенных в директории llm, ui, services
DOCKER_VOLUME_STORAGE=../data
CONFIG_DIR=../configs
MCP_SERVER_DIR=../mcp_server

# set log levels
MCP_LOG_LEVEL=DEBUG
# FASTMCP_LOG_LEVEL=INFO
# QDRANT__LOG_LEVEL=INFO


# ==============================================================
# Ollama Environment Variables
# ==============================================================
# https://docs.ollama.com/faq
# (Use "OLLAMA_" when searching on this page)


# ==============================================================
# llama.cpp Environment Variables
# https://github.com/ggml-org/llama.cpp/blob/master/tools/server/README.md
# ==============================================================

LLAMA_ARG_HF_REPO=bartowski/google_gemma-3-4b-it-GGUF
LLAMA_ARG_HF_FILE=google_gemma-3-4b-it-Q4_K_M.gguf

# LLAMA_ARG_HF_REPO=bartowski/Qwen_Qwen3-0.6B-GGUF
# LLAMA_ARG_HF_FILE=Qwen_Qwen3-0.6B-Q4_K_M.gguf

LLAMA_ARG_CTX_SIZE=4096
LLAMA_VOLUME_DIR=data/llm

# llama.cpp disable thinking
LLAMA_ARG_THINK=none
LLAMA_ARG_THINK_BUDGET=0
LLAMA_ARG_JINJA=1
# LLAMA_CACHE="llama_cache"

# enable prometheus compatible metrics endpoint (default: disabled)
LLAMA_ARG_ENDPOINT_METRICS=1


# ==============================================================
# SGLang Environment Variables
# https://docs.sglang.io/references/environment_variables.html
# ==============================================================
# HF_HUB_OFFLINE=1

# ==============================================================
# vLLM Environment Variables
# ==============================================================
# https://docs.vllm.ai/en/stable/configuration/env_vars/


# ==============================================================
# Open WebUI Environment Variables
# ==============================================================
# https://docs.openwebui.com/getting-started/env-configuration/

# disable authentication
# WEBUI_AUTH=false

# enable offline mode
OFFLINE_MODE=true
HF_HUB_OFFLINE=0

# disable OpenTelemetry
ENABLE_OTEL=false

# sets the global logging level for all Open WebUI components
GLOBAL_LOG_LEVEL=INFO


# ==============================================================
# Infinity Environment Variables:
# https://michaelfeil.eu/infinity/0.0.76/cli_v2/
# ==============================================================
INFINITY_MODEL_ID=Alibaba-NLP/gte-multilingual-base
INFINITY_DEVICE=auto
INFINITY_ENGINE=torch
INFINITY_DTYPE=float16
INFINITY_EMBEDDING_DTYPE=float32
INFINITY_POOLING_METHOD=auto
INFINITY_VOLUME_DIR=data/infinity
INFINITY_TRUST_REMOTE_CODE=1
INFINITY_LOG_LEVEL=info
INFINITY_MODEL_WARMUP=0

# disable telemetry
INFINITY_ANONYMOUS_USAGE_STATS=0
DO_NOT_TRACK=1


# ==============================================================
# ports
# ==============================================================
ANYTHINGLLM_PORT=3001
OPENWEBUI_PORT=3000
OLLAMA_PORT=11434
SGLANG_PORT=30000
QDRANT_PORT=6333
INFINITY_PORT=7997
LLAMA_ARG_PORT=8080
MCP_PORT=9000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
