# https://github.com/sgl-project/sglang/blob/main/examples/monitoring/grafana/datasources/datasource.yaml

apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false